{%- set lang = lang or 'zh' -%}
{%- set c = char.components -%}
{%- set o = char.outputs.action_pose -%}
{%- set t = i18n.templates.action_pose -%}
###BASE###
{{ char.base_style[lang] }}
###GENDER###
{{ i18n.gender["tag_" + char.gender.en] }}
###FACE###
{{ c.face.shape[lang] }}，{{ c.face.eyes[lang] }}
###EXPRESSION###
{{ c.expression.type[lang] }}，{{ c.expression.mouth[lang] }}
###HAIR###
{{ c.hair.style[lang] }}，{% for acc in c.hair.accessories %}{{ acc[lang] }}{% if not loop.last %}，{% endif %}{% endfor %}
###CLOTHING###
{{ c.clothing.robe[lang] }}，{{ c.clothing.collar[lang] }}，{{ c.clothing.waist[lang] }}
###POSES###
[POS1] {{ c.pose.action[lang] }}，{{ c.pose.head_angle[lang] }}
[POS2] {{ t.pos2_desc }}
[POS3] {{ t.pos3_desc }}
[POS4] {{ t.pos4_desc }}
###OUTPUT###
{{ o.style[lang] }}，{{ t.output_label }}
