{%- set lang = lang or 'zh' -%}
{%- set c = char.components -%}
{%- set o = char.outputs.chibi_version -%}
{%- set t = i18n.templates.chibi_version -%}
###BASE###
{{ char.base_style[lang] }}
###GENDER###
{{ i18n.gender["tag_" + char.gender.en] }}
###CHIBI_BASE###
{{ t.style }}
###FACE###
{{ c.face.shape[lang] }}，{{ c.face.eyes[lang] }}{{ t.face_zoom }}，{{ t.cheek }}
###EXPRESSION###
{{ c.expression.type[lang] }}，{{ c.expression.mouth[lang] }}
###HAIR###
{{ c.hair.style[lang] }}{{ t.hair_simplified }}，{% for acc in c.hair.accessories %}{{ acc[lang] }}{% if not loop.last %}，{% endif %}{% endfor %}
###CLOTHING###
{{ c.clothing.robe[lang] }}{{ t.clothing_simplified }}，{{ c.clothing.collar[lang] }}
###CHIBI_POSES###
[正面] {{ t.poses.front }}
[側面] {{ t.poses.side }}
[背面] {{ t.poses.back }}
###OUTPUT###
{{ o.style[lang] }}，{{ t.output_label }}
