{%- set lang = lang or 'zh' -%}
{%- set c = char.components -%}
{%- set o = char.outputs.color_scheme -%}
{%- set t = i18n.templates.color_scheme -%}
###BASE###
{{ char.base_style[lang] }}
###GENDER###
{{ i18n.gender["tag_" + char.gender.en] }}
###HAIR###
{{ c.hair.style[lang] }}
{{ t.hair_color }}
###EYES###
{{ c.face.eyes[lang] }}
{{ t.eye_color }}
###CLOTHING###
{{ c.clothing.robe[lang] }}
{{ t.clothing_main }}
{{ c.clothing.collar[lang] }}{{ t.collar_shadow }}
{{ c.clothing.waist[lang] }}{{ t.waist_contrast }}
###ACCESSORIES###
{% for acc in c.hair.accessories %}{{ acc[lang] }}{{ t.accessory_detail }}
{% endfor %}
###OUTPUT###
{{ o.style[lang] }}，{{ t.output_label }}
