{%- set lang = lang or 'zh' -%}
{%- set c = char.components -%}
{%- set o = char.outputs.hair_breakdown -%}
{%- set t = i18n.templates.hair_breakdown -%}
###BASE###
{{ char.base_style[lang] }}
###GENDER###
{{ i18n.gender["tag_" + char.gender.en] }}
###HAIR_STYLE###
{{ c.hair.style[lang] }}
###ACCESSORIES###
{% for acc in c.hair.accessories %}- {{ acc[lang] }}
{% endfor %}
###DETAILS###
{{ t.flower_detail }}
{{ t.tassel_detail }}
###OUTPUT###
{{ o.style[lang] }}，{{ o.label[lang] }}
