{%- set lang = lang or 'zh' -%}
{%- set c = char.components -%}
{%- set o = char.outputs.weapon_prop -%}
{%- set t = i18n.templates.weapon_prop -%}
###BASE###
{{ char.base_style[lang] }}
###GENDER###
{{ i18n.gender["tag_" + char.gender.en] }}
###CHARACTER_CARRYING###
{{ c.clothing.robe[lang] }}，{{ c.pose.action[lang] }}
###PROP_MAIN###
{{ t.main_title }}
{{ t.main_desc }}
###PROP_DETAILS###
{{ t.detail_a }}
{{ t.detail_b }}
###PROP_BREAKDOWN###
{{ t.part_1 }}
{{ t.part_2 }}
{{ t.part_3 }}
###OUTPUT###
{{ o.style[lang] }}，{{ t.output_label }}
